## directories to ignore
node_modules
build
docs
.github/

## file extensions to ignore
*.png
*.jpg
*.svg
*.gif
*.ico
*.txt
*.env
*.md

## files to ignore
package.json
pnpm-lock.yaml
pnpm-workspace.yaml
yarn.lock
.gitignore
.gitmodules
.env.example
Dockerfile
