name: Check

on:
  push:
    branches: 
      - main
  pull_request:
    branches: 
      - main

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 #v4.2.0
        name: Install pnpm
        with:
          version: 10

      - name: Install dependencies
        run: pnpm install
      
      - name: Run Lint
        run: pnpm lint
      
      - name: Run Format Check
        run: pnpm format:check
